<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis diam accumsan, mollis mi sed, fringilla lectus.
    Mauris luctus egestas turpis, sit amet eleifend magna ultrices vel. In euismod
</p>
<p>
    Email: {{ email.to[0].address }}
</p>
<p>
    Internal Email : {{ send_email }}
</p>