<div class="media product-card">
    <a class="pull-left" href="product-single.html">
        <img class="media-object" src="https://placehold.co/60" alt="Image" />
    </a>
    <div class="media-body">
        <h4 class="media-heading"><a href="product-single.html">{{ productName }}</a></h4>
        <p class="price">{{ quantity }} x ${{ price }}</p>
    </div>
</div>